md-dialog(aria-label="New Message")
    md-dialog-content(class="sticky-container")
        div(class="dialog-content")
            md-input-container(class="md-block")
                div(ng-controller="messageUpload" class="uploadBox")
                    div(ngf-drop ngf-select="upload($files)" ng-model="files" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'.jpg,.png,.pdf,.pd,.aiff,.wav,.mp3'") Add files <br>
                        md-progress-linear(class="md-accent progressPadding" md-mode="determinate" ng-value="determinateValue")
    md-dialog-actions(layout="row")
        span(flex)
        md-button(ng-click="cancel()") Cancel
        md-button(ng-click="answer('Add')" class="md-primary" ng-disabled="!fileUploaded") Add
