doctype html
html(lang="en" ng-app="StarterApp")
	head
		link(rel='stylesheet' href='/stylesheets/style.css')
		link(rel='stylesheet' href='/components/angular-material/angular-material.min.css')
		script(src='/components/angular/angular.min.js')
		script(src='/components/angular-resource/angular-resource.min.js')
		script(src='/components/angular-animate/angular-animate.min.js')
		script(src='/components/angular-aria/angular-aria.min.js')
		script(src='/components/jquery/dist/jquery.min.js')
		script(src='/components/angular-material/angular-material.min.js')
		script(src='/components/lodash/dist/lodash.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascript/layout.js' ng-module="StarterApp")
		script(src='/javascript/maplist.js')
		title Telephone Booth
