doctype html
html(lang="en" ng-app="TelephoneBoothApp")
	head
		link(rel='stylesheet' href='/stylesheets/style.css')
		link(rel='stylesheet' href='/components/angular-material/angular-material.min.css')
		script(src='/components/angular/angular.min.js')
		script(src='/components/angular-resource/angular-resource.min.js')
		script(src='/components/angular-animate/angular-animate.min.js')
		script(src='/components/angular-aria/angular-aria.min.js')
		script(src='/components/jquery/dist/jquery.min.js')
		script(src='/components/angular-material/angular-material.min.js')
		script(src='/components/lodash/dist/lodash.min.js')
		script(src='/components/ng-file-upload/ng-file-upload.js')
		script(src='/socket.io/socket.io.js')
		script(src='/components/angular-audio/app/angular.audio.js')
		script(src='/javascript/index.js' ng-module="TelephoneBoothApp")
		script(src='/javascript/services.js')
		title Telephone Booth
		meta(name="viewport" content="initial-scale=1")
