include header
body
	block body
		div(ng-controller="MapListCtrl")
			md-content
				div(layout="row" layout-align="center center")
					md-card(style="width: 500px;")
						md-card-content
							md-button( class="md-raised md-primary" ng-click="showNewGame($event)") New Game
							md-list
								md-list-item(ng-repeat="map in maps")
									div(class="md-tile-content")
										p
											a(href="/edit_map/{{map._id}}") {{map.title}}
										md-icon(md-svg-src="/components/material-design-icons/action/svg/production/ic_delete_48px.svg" ng-click="deleteMap(map._id)" aria-label="Delete" class="md-secondary md-warn")
